
<ul class="nav nav-tabs">
        <li class="nav-item" 
       routerLinkActive="active">
       
           <a class="nav-link" 
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" 
            routerLink="/">View</a>

         </li> 
      <!-- <li class="nav-item" routerLinkActive="active">
         <a class="nav-link" routerLinkActive="active" routerLink="/app-list-game">View</a>
       </li>-->
       <li class="nav-item" routerLinkActive="active">
         <a class="nav-link" routerLinkActive="active" routerLink="/app-search">Search</a>
       </li>
      
     </ul>
    <router-outlet></router-outlet> 
   
   