
@{
    ViewBag.Title = "get";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/get.js"></script>

<script src="../../Scripts/Rx.js"></script>
<script src="~/Scripts/observable.js"></script>
<script src="~/Scripts/promise.js"></script>
<h2>get</h2>

<h5> enter id or name game or winner</h5>

<input type="text" id="txtSearch" class="ml-3" /><br />
<p class="mt-5">
    button xmlhttprequest
    <br />
    <button class="btn btn-primary mt-5" id="btnAll">get all</button>
    <button class="btn btn-danger ml-3" id="btnByWin">get by winner</button>
    <button class="btn btn-success ml-3" id="btnName">get by name game</button>
    <button class="btn btn-primary ml-3 mb-5" id="btnId">get by id</button>
</p>
<br /><br />
<p class="mt-5">
    button xmlhttprequest
    <br />
    <button class="btn btn-primary mt-5" id="btnGetAjax">get all </button>
    <button class="btn btn-danger ml-3" id="btnWinAjax">get by winner</button>
    <button class="btn btn-success ml-3" id="btnNameAjax">get by name game</button>
    <button class="btn btn-primary ml-3 mb-5" id="btnIdAjax">get by id</button>
</p>
<button class="btn btn-primary mt-5" id="btnOb">get by observable</button>
<button class="btn btn-primary mt-5 ml-5" id="btnPro" onclick="pro()">get by Promise</button>
<div id="txtResult">

</div>
